body{
    margin: 0;
    padding: 0;
    box-sizing:unset;
    
section{
    width: calc(100% - 8px);
    border-width: 2px 4px 0 4px;
    border-color: black;
    border-style: solid;
    margin: 0;
    padding: 0;
    position: relative;
    

    div{
        display: inline-block;
        width: calc(50%  - 5px);
        height: calc(100vh - 6px);
        
        


            &:first-of-type{
              background-image: url(./img/mainImg.jpg);
              background-repeat:no-repeat ;
              background-size: cover;
            } 
            
            &:last-of-type{
                position: absolute;
                top: 0;
                right: 0;
            }


         img{
             display: block;
             width: 62px;
             margin: 60px 0 0 25px;
         }

          h1{
             display: block;
             margin: 30px 0 0 25px;
             text-transform: capitalize;
             font-weight: bold;
             font-size: 60px;
             width: 50%;
          }

          p{
              color: rgb(0, 0, 0, 0.3);
              margin-left: 20px;
          }


          form{
            margin: 30px 0 0 20px;

            input{
                display: block;
                width: 60%;
                margin-bottom: 20px;
                line-height: 50px;
                font-weight: bolder;
                padding-left: 10px;


            }

            input::placeholder{
                 text-transform: capitalize;   
            }
            

            button{
                background-color: #83B542;
                color: white;
                text-align: center;
                line-height: 50px;
                display: block;
                width: 62%;
                margin-bottom: 25px;
                text-transform: capitalize;
                border: none;
                border-radius: 2%;
            }
          }
    }

}

}