* {
    margin:0;
    padding:0;
    }


section{
    width: 100%;
    font-size: 0;
    height: 100vh;
    position:relative;

    div{
        display: inline-block;
        width: 50%;
        height: 100vh;
        background-color: pink;

        &:first-child{
            background-image: url(./img/mainImg.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }


        &:last-child{
            position: absolute;
        }

        img{
            margin: 20px 0 60px 20px;
            display: inline;
            width: 60px;
        }

        h1{
            margin: 0 0 60px 20px;
            font-size: 38px;
            width: 50%;
            text-transform: capitalize;
        }

        p{
            margin: 0 0 0 20px;
            font-size: 16px;
            color: rgb(0, 0, 0, 0.3);
        }

        form{
            margin: 0 0 30px 20px;

            input{
                display: block;
                width: 60%;
                margin-bottom: 20px;
                line-height: 50px;
                font-weight: bolder;
                padding-left: 10px;


            }

            button{
                background-color: #83B542;
                color: white;
                text-align: center;
                line-height: 50px;
                display: block;
                width: 62%;
                margin-bottom: 25px;
                text-transform: capitalize;
                border: none;
                border-radius: 2%;
            }
        }
    }


}